.layer4{
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
}
.layer4 h6{
    display: inline-block;
}
.layer4 .radio_pick{
    display: inline-block;
    margin-left: 30px;
}
.layer4 .form-check{
    display: inline-block;
    margin-right: 15px;
}
.layer4 input{
    margin-top: 7px;
}
.layer4 .form-check-label{
    font-size: 14px;
}
