.layer3charts{
    margin-top: 5px;
}
.radial-chart {
    position: relative;
    display: inline-block;
    margin: 2px;
    width: 13.9%;
    box-shadow: 1px 1px 4px #00000030;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in;
}
.radial-chart:hover,.radial-chart:active,.radial-chart:focus{
    box-shadow: 3PX 3PX 4PX #0000002e;
}
.radial-chart.no-progress .radial-chart-progress {
    opacity: 0;
}
.radial-chart-total {
    opacity: 0.3;
}
.radial-chart-progress {
    transform: rotate(180deg);
    transform-origin: center;
    transition: all 0.6s cubic-bezier(0.58, 0.16, 0.5, 1.14);
    transition-delay: 0.3s;
}
.radial-chart  svg{
    width: 100%!important;
    padding: 15px 25px 0px;
    height: 100%!important;
}
.radial-chart  svg circle{
    width: 100%!important;
    height: 100%!important;
}
.radial-chart-total {
    opacity: 1!important;
}
.radial-chart h6{
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
    color: #508bc3;
}
.radial-chart .value-holder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.radial-chart .value-holder h6{
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 0px;
    text-align: center;
    color: #508bc3;
}
.radial-chart .value-holder p{
    margin-bottom: 0px;
    font-size: 10px;
}
@media(max-width:768px){
    .radial-chart {
        width: 23.9%;
}
}
@media(max-width:1080px){
    .radial-chart h6{
        font-size: 9px;
    }
}

@media(max-width:1124px){
.radial-chart {
    width: 23.9%;
}
}