/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
#sidebar-wrapper {
  background: #508bc3;
}
.list-group-item {
  background: #508bc3 !important;
  color: #fff;
  font-size: 14px;
  border-bottom: none;
  padding: 10px 10px 10px 15px;
}
.list-group-item:hover,
.list-group-item:active,
.list-group-item:focus {
  background: #fff !important;
  color: #222;
  text-decoration: none;
  font-weight: bold;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group {
  width: initial !important;
}
.list-group i {
  margin-right: 10px;
}
.list-group-item span {
  /* display: none; */
}

.nav-link {
  padding: 0px;
}
.navbar {
  padding: 5px 15px;
  position: fixed;
  width: 84%;
  z-index: 9999;
  background: #fff;
}
.navbar.expanded {
  width: 96%;
}
.ml-15 {
  margin-left: 15px;
}
#navbarSupportedContent {
  width: 100%;
}
.navbar-nav {
  flex-direction: row;
}
.input-group-prepend button {
  line-height: 0.5px;
}
nav button.dropdown-toggle {
  background: #dee7ef;
  border-right: none;
  border-left: none;
  border-bottom-color: #eaeaea;
  border-top-color: #eaeaea;
}
.navbutton1 .fa,
.dropdown-toggle::after {
  color: #666;
}
.navbutton1 {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-color: #eaeaea;
  background: #dee7ef;
}
.nav-item input {
  height: 30px;
  border: 1px solid #eaeaea;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-bottom: 8px;
  font-size: 12px;
}
.nav-item input::placeholder {
  color: #ccc;
  font-size: 12px;
  line-height: 14px;
}
.nav-item .btn-patient {
  border-radius: 25px;
  background: #548abe;
  color: #fff;
  font-size: 12px;
}
.greyroundbutton {
  width: 30px;
  height: 30px;
  margin-left: 7px;
  border-radius: 41px;
  text-align: center;
  background: #e0dfdf;
  color: #222;
}
.blueoutlinebutton {
  width: 30px;
  height: 30px;
  margin-left: 7px;
  border-radius: 41px;
  display: inline-block;
  text-align: center;
  color: #548abe;
  border: 1px solid;
}
.darkgreybutton {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 41px;
  text-align: center;
  background: #a6a1a1;
  color: #ffffff;
}
.greyroundbutton .fa {
  vertical-align: middle;
  font-size: 12px;
}
.blueoutlinebutton .fa {
  vertical-align: middle;
  font-size: 12px;
}
.darkgreybutton .fa {
  vertical-align: middle;
  font-size: 12px;
}
.navbar-nav.pull-right span {
  display: inline;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
}
.toggle {
  margin: 7px 15px;
  width: 25px;
  height: 25px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  box-sizing: border-box;
  cursor: pointer;
}
.toggle div {
  width: 100%;
  height: 3px;

  border-radius: 15px;
  background-color: #fff;
}
#sidebar-wrapper {
  margin-left: 0;
  width: 16%;
  position: fixed;
}
#sidebar-wrapper.toggled {
  width: 4%;
}
#page-content-wrapper {
  min-width: 0;
  width: 84%;
  position: absolute;
  left: 16%;
}
#page-content-wrapper.expanded {
  min-width: 0;
  width: 96%;
  position: absolute;
  left: 4%;
}
.list-group a.active div{
  background: #fff !important;
    color: #222;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
  text-decoration: none!important;
}
@media (max-width: 768px) {
  .navbar-nav.pull-right span {
    display: none;
  }
  #sidebar-wrapper {
    width: 24%;
  }
  #sidebar-wrapper.toggled {
    width: 6%;
  }
  #page-content-wrapper {
    width: 76%;
    left: 24%;
  }
  #page-content-wrapper.expanded {
    width: 94%;
    left: 6%;
  }
  .navbar {
    width: 76%;
    left: 24%;
  }
  .navbar.expanded {
    width: 94%;
    left: 6%;
  }
 
}

@media(min-width:991px) and (max-width:1124px){
  .toggle {
    margin: 7px 5px;
    width: 20px;
    height: 20px;
}
}