.filter-icon {
  color: #548abe;
}
.layer2 .input-group {
  display: inline-flex;
  width: 300px;
  margin-left: 10px;
}
.layer2 .input-group input {
  height: 33px;
  border-color: #eaeaea;
  border-right: none;
}
.layer2 span.input-group-text {
  background: #fff;
  border-left: none;
  border-color: #eaeaea;
  font-size: 12px;
}
.layer2 .input-group input::placeholder{
    color: #666;
    font-size:12px;
}
.layer2 select{
    height: 33px;
    color: #666;
    border-color: #eaeaea;
    font-size: 12px;
    width: 200px;
    display: inline-flex;
    margin-left: 10px;
}
.layer2 button{
    border-radius: 25px;
    background: #548abe;
    color: #fff;
    font-size: 12px;
    margin-left: 5px;
}
@media(max-width:768px){
    .layer2 .input-group {
        width: 250px;
      }
      .layer2 select{
        width: 175px;
      }
}