.mlayer4{
    margin-bottom:10px;
}
.mlayer4 p{
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 30px;
}
.mlayer4 input{
    width: 200px;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 25px;
    margin-right: 10px;
    border-color: #eaeaea;
    float: right;
    height: 33px;
}
.mlayer4 select{
    width: 150px;
    margin-top: 5px;
    font-size: 13px;
    float: right;
    border-radius: 25px;
    margin-right: 10px;
    height: 33px;
    border-color: #eaeaea;

}
@media(max-width:768px){
    .mlayer4 input{
        width: 180px;
    }
    .mlayer4 select{
        width: 125px;
    }
}