.mlayer2 select {
  max-width: 130px;
  height: 33px;
  font-size: 12px;
  display: inline-block;
  margin-right: 5px;
  border-color: #eaeaea;
}
.mlayer2 .input-group {
  display: inline-flex;
  width: 260px;
  margin-left: 10px;
  height: 33px;
}
.mlayer2 .input-group input {
  height: 100%;
  border-color: #eaeaea;
  font-size: 12px;
  border-right: none;
}
.mlayer2 span.input-group-text {
  background: #fff;
  border-left: none;
  border-color: #eaeaea;
  font-size: 12px;
}
.mlayer2 .icons-holder {
  display: inline-block;
}
.mlayer2 .icons-holder .printcomponent{
    display: none;
}
.mlayer2 .icons-holder .mlayer5{
  display: none;
}
.mlayer2 .icons-holder .fa {
  font-size: 20px;
  padding: 0px 7px;
  color: #508bc3;
}
.mlayer2 .printer {
  cursor: pointer;
}
#page-content-wrapper.expanded .mlayer2 select {
  max-width: 150px;
}
@media (max-width: 768px) {
  .mlayer2 select {
    margin-bottom: 5px;
  }
  .mlayer2 .input-group {
    margin-left: 0px;
  }
}
