.mlayer3 .buttons-holder{
    margin: 0 auto;
    text-align: center;
}
.mlayer3{
    margin-top: 10px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
}
.mlayer3 button{
    border: 1px solid;
    font-size: 12px;
}
.mlayer3 .mlayer3button{
    display: inline-block;
    margin-right: 10px;
}
.mlayer3 button:hover,.mlayer3 button:active,.mlayer3 button:focus{
    border-color: #e18d54;
    background-color: #e18d54;
    color: #fff;
}