.layer1 .page-heading,.mlayer1 .page-heading{
 color: #e18d54; 
 display: inline-block;  
}
.layer1 .button-holder{
    display: inline-block;
    margin-right:  300px;
    float: right;
}
.layer1 .button-holder .fa{
    margin-right: 5px;
}
.layer1 .button-holder .bluebutton{
    background: #548abe;
    color: #fff;
    margin-left: 10px;
    font-size: 12px;
}
.layer1 .button-holder .greenbutton{
    background: #75bda9;
    color: #fff;
    margin-left: 10px;
    font-size: 12px;
}
@media(max-width:768px){
    .layer1 .button-holder{
        margin-right: 100px;
    }
}