.layer6 .pagination.react-bootstrap-table-page-btns-ul{
    float: right;
    margin-right:10px
}
.layer6 .col-md-6.col-xs-6.col-sm-6.col-lg-6:nth-child(1){
display: none;
}
.layer6 .react-bootstrap-table-pagination-list{
    flex: 0 0 100%;
    max-width: 100%;
}
.layer6  .table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
    background: #f1f5f9;
    color: #508bc3;
    padding: 10px;
    font-size: 14px;
}
.layer6  .table-bordered td{
    font-size: 14px;
    font-weight: 500;
}
.layer6  .table-bordered tbody tr td:first-child{
    color: #508bc3;
}
.layer6 .table-bordered td, .table-bordered th {
    border-left: none;
    border-right: none;
}
.layer6 .table-bordered{
    border: none;
}
.layer6 .page-link{
    color: #508bc3;
}
.layer6 .page-item:first-child .page-link {
    margin-left: 0;
    border-color: #508bc3;
    background-color: #508bc3;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.layer6 .page-item:last-child .page-link{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.layer6 .page-item.active .page-link{
    background-color: #508bc3;
    borrder-color:#508bc3;
}
.layer6  tbody tr:nth-of-type(even) {
    background-color: rgb(243, 247, 251);


}
.layer6 .react-bootstrap-table{
    overflow: auto;
}
.layer6  .react-bootstrap-table-pagination{
    margin-left: 0px;
    margin-right: 0px;
}